* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}



body {
    font-family: Montserrat, sans-serif;
}

.nav-container-mobile {
    display: none;
}
header {
    height: 100vh;
    background: url('../images/office_table_2.jpg'), #E5E5E5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.nav-container {
    position: absolute;
    height: 115px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
}

.nav-list {
    display: flex;
    width: 100%;
}

.nav-list li {
    list-style-type: none;
    font-size: 25px;
    font-weight: 700;
    padding: 30px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}

.logo {
    margin-right: auto;
}

/* ------ header content ----- */

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: white;
    z-index: 6;
    position: absolute;
}

.header-content-title {
    font-weight: 900;
    padding: 30px;
    font-size: 80px;
    text-align: center;
}

.header-content p {
    text-align: center;
    line-height: 30px;
    font-size: 25px;
}

.header-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 650px;
    margin-top: 4rem;
    /* border: 2px solid green; */
}

.header-buttons button {
    cursor: pointer;
    background-color: transparent;
    border: 5px solid #FFFFFF;
    color: white;
    height: 75px;
    width: 267px;
    font-weight: 700;
    font-size: 25px;
}

.header-buttons button:hover {
    color: black;
    background: #FFFFFF;
    border: 5px solid #FFFFFF;
}

/* ------ main content ----- */

main {
    width: 100%;
    height: auto;
   
}

.main-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}

.main-content-title {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content-title h1 {
    font-weight: 900;
    font-size: 60px;
}
.services-options {
    padding: 0 30px;
    height: auto;
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 130px;
    /* row-gap: 70px; */
    align-items: center;
}


.service {
    border: 3px solid #000000;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 505px;
    width: 347px;
    position: relative;
}

.service h4 {
    font-weight: 700;
    font-size: 40px;
}
.service p {
    text-align: center;
    margin-top: 3rem;
    line-height: 26px;
}
.service-btn {
    position: absolute;
    bottom: 4rem;
    background-color: transparent;
    color: black;
    border: 5px solid #000000;
    cursor: pointer;
    font-weight: 700;
    font-size: 25px;
    height: 74px;
    width: 267px;
    text-align: center;
}

.service-btn:hover {
    background-color: black;
    color: white;
}


/* ----- footer ---------  */

footer {
    width: 100%;
    height: 135px;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    font-size: 25px;
    padding: 30px;
}

.footer-list {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    
}
.footer-list li {
    list-style-type: none;
}

.footer-list li  a img {
    width: 30px;
}